@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(content.css);

/* custom properties */
:root {
    /* primary colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* neutral colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --light-box-bg: hsla(0, 0%, 0%, 0.75);

    /* font weight */
    --fw-400: 400;
    --fw-700: 700;

}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    max-width: 80%;
    margin: auto;
}

/* utility classes */
.flex-row {
    display: flex;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
/* 
* {
    border: 1px solid red;
} */

/* custom */

header {
    height: 80px;
    padding: 0;
    border-bottom: 1px solid var(--grayish-blue);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 27px 0px;
    color: var(--dark-grayish-blue);
}

a:hover {
    color: black;
    border-bottom: 3px solid var(--orange);
}


.navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 250px;
    height: 100vh;
    padding: 1em 1.75em;

    background-color: var(--white);
    box-shadow: 0 0 0 5000px var(--light-box-bg);
}


.navbar-mobile img{
    padding-top: 1em;
    width: 1em;
    margin-bottom: 2em;
    
}

.navbar-mobile li{
    font-weight: var(--fw-700);
    padding: 1em .5em;
}

.navbar-mobile li:hover{
    background-color: var(--grayish-blue);
}

.navbar-mobile, #menu {
    display: none;
}

img[alt="profile icon"] {
    width: 40px;
}


@media (max-width: 870px) {

    body {
        max-width: 90%;
    }

    #menu {
        display: flex;
    }

    .big {
        display: none;
    }

}

@media (max-width: 600px) {
    img[alt="profile icon"] {
        width: 30px;
    }

    img[alt="cart icon"] {
        width: 20px;
    }

    img[alt="logo"] {
        width: 150px;
    }

    .navbar {
        gap: 1em;
    }

}