@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* custom properties */
:root {
    /* primary colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* neutral colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --light-box-bg: hsla(0, 0%, 0%, 0.75);

    /* font weight */
    --fw-400: 400;
    --fw-700: 700;

}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    max-width: 80%;
    margin: auto;
}

/* utility classes */
.flex-row {
    display: flex;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

* {
    border: 1px solid red;
}

/* custom */

header {
    height: 60px;
    padding: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    position: relative;
}


.navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    width: 180px;
    height: 100vh;
    padding: 1em 1.75em;

    background-color: var(--white);
}

.backdrop {
    
}

.navbar-mobile img{
    width: 1.5em;
}


